<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.btlandroidnhom6">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BtlAndroidNhom6">
        <activity
            android:name=".login_registor.FindPassword"
            android:exported="false" />
        <activity
            android:name=".Home.MainActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileHome"
            android:exported="false" />
        <activity
            android:name=".store.CreateStore"
            android:exported="false" />
        <activity
            android:name=".store.StoreHome"
            android:exported="false" />
        <activity
            android:name=".welcome.Test_Screem"
            android:exported="false" />
        <activity
            android:name=".login_registor.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".login_registor.Registor"
            android:exported="false" />
        <activity
            android:name=".welcome.Welcom2"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>